@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Merriweather:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  background: linear-gradient(#31220b, #382e1b);
  color: #f3e7d4;
  min-height: 100vh;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 15%;
}

.main-header .main-title {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.main-header .main-title img {
  width: 5rem;
  object-fit: contain;
}

.main-header .main-title h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #edbf68;
  text-shadow: 0 0 4px rgba(35, 34, 34, 0.4);
}

.main-header button {
  padding: 0.5rem 1.5rem;
  border: none;
  font-size: 1.25rem;
  border-radius: 6px;
  background-color: #edbf68;
  color: #201e1a;
  cursor: pointer;
}

.main-header button:hover {
  background: #f5b744;
}

.shop {
  max-width: 67rem;
  margin: 2rem auto;
}

.shop h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #a59b8b;
}

.products {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.product {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: #5f4e33;
  overflow: none;
}

.product img {
  /* width: 100%; */
  object-fit: contain;
}

.product .product-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0.5rem 1rem;
  justify-content: space-between;
  height: 100%;
}

/* .product-title, product-price, product-description -> are inside div */
.product .product-content .product-title {
  font-size: 1.25rem;
  color: #fbd392;
  margin-bottom: 0.15rem;
}

.product .product-content .product-price {
  font-size: 1rem;
  color: #d1b68b;
}

.product .product-content .product-description {
  margin: 1rem 0;
}

/* .product-actions -> div */
.product .product-content .product-actions {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

.product .product-content .product-actions button {
  background: #f4b115;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #201e1a;
  font-size: 1rem;
  cursor: pointer;
}


.modal {
  width: 30%;
  background: #d3b17b;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-top 0.3s ease-in-out;
  padding: 1rem;
  margin: auto;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.65);
}

.modal h2 {
  font-size: 1.5rem;
  color: #4f3807;
  text-transform: uppercase;
}

.cart-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #fbd392;
  border-radius: 5px;
  font-size: 0.9rem;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.cart-item-actions button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
  color: #201e1a;
}

.cart-total-price {
  text-align: right;
  margin-bottom: 1rem;
}

.cart-total-price span {
  font-weight: bold;
}

.modal .modal-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.modal .modal-actions button {
  cursor: pointer;
  border: none;
  color: #201e1a;
  border-radius: 5px;
  font-size: 1.1rem;
  background: transparent;
}

.modal .modal-actions button:hover {
  color: #453719;
}

.modal .modal-actions button:last-of-type {
  color: #f9efda;
  padding: 0.5rem 1rem;
  background: #271e07;
}

.modal .modal-actions button:last-of-type:hover {
  background: #382e1b;
}

@keyframes fade-slide-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} 


